/***************
* Color Scheme *
***************/
:root{
	--BlueLight: #6E96BE;
	--BlueDark: #516E8C;

	--RedLight: #FF3255;
	--RedDark: #7F192A;

	--PurpleLight: #BE32FF;
	--PurpleDark: #5F197F;

	--GrayLight: #E5E5E5;
	--GrayDark: #CCCCCC;
}
/******************
* Universal Reset *
******************/
*   {
	border: 0;
	margin:0;
	padding:0;
}

/***********************
* Table Format As Divs *
***********************/
.Table { display: table; }
.TableRow { display: table-row; }
.TableHeading { display: table-header-group; }
.TableBody { display: table-row-group; }
.TableFoot { display: table-footer-group;}
.TableCell, .TableHead, .TableBar { 
	display: table-cell;
	border: .25vh solid transparent;
	vertical-align: middle;
	text-align: left;
}
.TableCell{	width: 45vw; }
.TableHead{	width: 15vw; }

/***********************
* Progress Bar As Divs *
***********************/
.ProgressBar {
	background-image: linear-gradient(to left, var(--BlueLight), var(--BlueDark));
	vertical-align: middle;
}
	.ProgressBar > div {
		background-color: var(--GrayLight);
	}

#OverallProgressFrontEnd, 
#OverallProgressBackEnd{
	width: 35vw;
	border-radius: 2vh;
	padding: .5vh;
}
	#OverallProgressFrontEnd > div,
	#OverallProgressBackEnd > div{
		height: 3vh;
		border-radius: 3vh;
		width: 0vw; 
	}

#LanguageProgressCSS,
#LanguageProgressHTML,
#LanguageProgressJavaScript,
#LanguageProgressJQuery,
#LanguageProgressJava,
#LanguageProgressPython,
#LanguageProgressMySQL,
#LanguageProgressCsharp,
#LanguageProgressCplusplus,
#LanguageProgressC{
	width: 25vw;
	border-radius: 1.5vh;
	padding: .5vh;
}
	#LanguageProgressCSS > div,
	#LanguageProgressHTML > div,
	#LanguageProgressJavaScript > div,
	#LanguageProgressJQuery > div,
	#LanguageProgressJava > div,
	#LanguageProgressPython > div,
	#LanguageProgressMySQL > div,
	#LanguageProgressCsharp > div,
	#LanguageProgressCplusplus > div,
	#LanguageProgressC > div{
		height: 2vh;
		width: 0vw; 
		border-radius: 2vh;
	}

/***************
* Side Wrapper *
***************/
#SideWrapper {
	height: 100vh;
	width: 20vw;
	position: fixed;
	overflow-y: hidden;
	overflow-x: hidden; 
	z-index: 1;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	background: var(--BlueLight);

	border-right-style: solid;
	border-width: thin;
}

/**************************
* Side Wrapper Navigation *
**************************/

/*****************************************
* Side Wrapper Navigation Unordered List *
*****************************************/
#SideWrapper > #SideNavigation nav > ul{
	list-style: none;
}

/************************************
* Side Wrapper Navigation HyperLink *
************************************/
#SideWrapper > #SideNavigation nav > ul > li a {
	color: black;
	text-decoration: none;
	display: block;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.2em;
	line-height: 3;
	position: relative;
	text-transform: uppercase;
	text-align: right;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: thin;
	border-color: black;
	margin-bottom:-1px;
}

#SideWrapper > #SideNavigation nav > ul > li a:active,
#SideWrapper > #SideNavigation nav > ul > li a:hover,
#SideWrapper > #SideNavigation nav > ul > li a.selected{
	color: white;
	border-color: black;
}

#SideWrapper > #SideNavigation nav > ul > li a.selected{
	margin-left: 1px;
	border-left-style: double;
	border-left-width: thick;
}

/***************
* Main Wrapper *
***************/
#MainWrapper{
	margin: 0 0 0 20vw;
	background-image: linear-gradient(to right, var(--GrayDark)80%, var(--BlueLight));
}

/**********************
* Content Backgrounds *
**********************/
#ContentWelcome, #ContentAbout, #ContentEducation, #ContentProjects, #ContentSkills, #ContentContact{
	min-height: 95vh;
	width: 60vw;
	padding-top: 5vh;
	display: block;
}

/***************
* Content Tags *
***************/

/* h1 Tag */
#ContentWelcome h1, #ContentAbout h1, #ContentEducation h1, #ContentProjects h1, #ContentSkills h1, #ContentContact h1 {
	color: black;
	text-decoration: none;
	padding-left: 2.5vw;
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	width: 57.5vw;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-image: linear-gradient(to right, var(--BlueLight), var(--GrayDark));
	background-repeat: 	no-repeat;	
	background-size: 100% 100%;
	border-left-style: double;
	border-width: thick;
}
/* h2 Tag */
#ContentWelcome h2, #ContentAbout h2, #ContentEducation h2, #ContentProjects h2, #ContentSkills h2, #ContentContact h2 {
	color: black;
	text-decoration: none;
	margin-left: 2.5vw;
	margin-top: 1vh;
	padding-left: 1vw;
	display: block;
	font-size: 1.25em;
	font-weight: bold;
	width: 56.5vw;
	letter-spacing: 0.05em;
	background-image: linear-gradient(to right, var(--BlueLight), var(--GrayDark));
	background-repeat: 	no-repeat;	
	background-size: 100% 100%;
	border-left-style: double;
	border-width: thick;
}

/* h3 Tag */
#ContentWelcome h3, #ContentAbout h3, #ContentEducation h3, #ContentProjects h3, #ContentSkills h3, #ContentContact h3 {
	color: black;
	text-decoration: none;
	display: block;
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	border-left-style: solid;
	border-width: thin;
	padding-left: 1vw; 
}

/* h4 Tag */
#ContentWelcome h4, #ContentAbout h4, #ContentEducation h4, #ContentProjects h4, #ContentSkills h4, #ContentContact h4 {
	color: black;
	text-decoration: none;
	display: block;
	font-size: 1em;
	text-align: left;
	border-left-style: solid;
	border-width: thin;
	padding-left: 1vw; 
}

/* Content p Tag */
#ContentWelcome p, #ContentAbout p, #ContentEducation p, #ContentProjects p, #ContentSkills p, #ContentContact p {
	padding-left: 1vw;
}

/* Content a Tag */
#ContentWelcome a, #ContentAbout a, #ContentEducation a, #ContentProjects a, #ContentSkills a, #ContentContact a {
	padding-left: 1vw;
}

/******************
* Content Welcome *
******************/
#ContentWelcome {
}

/*******************
* Content About Me *
*******************/
#ContentAbout img{
	width: 	15vw;
	border-radius: 	17.5vw;
}

/*********************
* Content Eductation *
*********************/
#ContentEducation {
}
	#ContentEducation > .Table {
		margin: 0 0 0 5vw;
		width: 55vw;
	}

/*******************
* Content Projects *
*******************/
#ContentProjects{
}
	#ContentProjects > .Table {
		margin: 0 0 0 5vw;
		width: 55vw;
	}

/*****************
* Content Skills *
*****************/
#ContentSkills{
}
	#ContentSkills > #OverallSkill {
		margin: 0 0 0 5vw;
		width: 55vw;
	}
	#ContentSkills > #LanguageSkill {
		margin: 0 0 0 7.5vw;
		width: 52.5vw;
	}
		#ContentSkills > .Table > .TableBody > .TableRow > .TableHead{
			width: 7.5vw;
		}
		#ContentSkills > .Table > .TableBody > .TableRow > .TableCell{
			width: 2.5vw;
		}
		#ContentSkills > .Table > .TableBody > .TableRow > .TableBar{
			width: 45vw;
		}
/*********************
* Content Contact Me *
*********************/
#ContentContact{
}
	#ContentContact > .Table {
		margin: 0 0 0 2.5vw;
	}