/***************
* Color Scheme *
***************/
:root{
	--BlueLight: #6E96BE;
	--BlueDark: #516E8C;

	--RedLight: #FF3255;
	--RedDark: #7F192A;

	--PurpleLight: #BE32FF;
	--PurpleDark: #5F197F;

	--GrayLight: #E5E5E5;
	--GrayDark: #CCCCCC;
}

/******************
* Universal Reset *
******************/
*   {
	border: 0;
	margin:0;
	padding:0;
}

/***********************
* Table Format As Divs *
***********************/
.Table { 
	/* Position/Attributes */
	display: table; 
	table-layout: fixed;
	border-collapse:separate; 
	border-spacing: 0.5vmin;
}
.TableRow { 
	/* Position/Attributes */
	display: table-row; 

	/* Aesthetics */
	background-image: linear-gradient(to right, var(--GrayDark), var(--GrayLight));
	background-repeat: 	no-repeat;	
	background-size: 100% 100%; 
}
.TableHeading { display: table-header-group; }
.TableBody { display: table-row-group; }
.TableFoot { display: table-footer-group; }
.TableCell, .TableHead, .TableImg, .TableBar { display: table-cell; }
.TableCell{ vertical-align: middle; }
.TableHead, .TableImg, .TableBar{ vertical-align: top; }

/***********************
* Progress Bar As Divs *
***********************/
.ProgressBarOverall,
.ProgressBarLanguage {
	/* Position/Attributes */

	/* Aesthetics */
	background-image: linear-gradient(to left, var(--BlueLight), var(--BlueDark));
	background-repeat: 	no-repeat;	
	background-size: 100% 100%; 
}
	.ProgressBarOverall > div,
	.ProgressBarLanguage > div {
		/* Aesthetics */
		background-image: linear-gradient(to left, var(--GrayLight), var(--GrayDark));
		background-repeat: 	no-repeat;	
		background-size: 100% 100%; 
	}

/*********
* Arrows *
*********/
i {
	/* Position/Attributes */
	border: solid black;
    display: inline-block;

	/* Aesthetics */
	vertical-align: middle;
}

.right {
	/* Aesthetics */
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
	/* Aesthetics */
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
	/* Aesthetics */
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
	/* Aesthetics */
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.H3{
    padding: .2em;
    border-width: 0 .2em .2em 0;
}

.P{
    padding: .15em;
    border-width: 0 .15em .15em 0;
}

/************
* Text Tags *
************/

	/* General Text Tags Font */
	h1, h2, h3, h4, p, a{

		/* Position/Attributes */
		text-align: left;
		display: block;

		/* Aesthetics */
		color: black;
		font-family: "Courier New", Courier, monospace;
		text-decoration: none; 
	}

	/* General h1 Tag */
	h1{
		/* Aesthetics */
		font-size: 2em;
	}
	/* General h2 Tag */
	h2{
		/* Aesthetics */
		font-size: 1.5em;
	}
	/* General h3 Tag */
	h3{
		/* Aesthetics */
		font-size: 1.25em;
	}
	/* General h4, p, a Tag */
	h4,	p, a{
		/* Aesthetics */
		font-size: 1em; 
	}
	/* a Tag hover */
	a:hover,
	a > h3:hover{
		color:var(--PurpleLight);
	}

/*****************
* Wrapper Header *
*****************/
#WrapperHeader {
	/* Dimensions */
	height: 90vh;
	width: 100vw;

	/* Position/Attributes */
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 99; 
	display: inline-block; 
	align-content: center;

	/* Aesthetics */
	background-image: linear-gradient(to bottom, var(--RedLight) 45%, var(--RedDark));
	transition: 0.25s; 
}

	/* Wrapper Header Table */
	#WrapperHeader > #HeaderContainer{
		/* Dimensions */
		height: 60vh;
		width: 70vw;

		/* Position/Attributes */
		margin: auto;
		margin-top: 15vh;
		display: flex;
		flex-direction: row;

		/* Aesthetics */
		background-image: linear-gradient(to bottom, var(--RedLight), var(--GrayDark	));
		border-radius: 	5vw;
		transition: 0.25s; 
	} 

	/* Wrapper Header Table */
	#WrapperHeader > #HeaderContainer > .Container{
		/* Dimensions */
		height: 60vh;
		width: 35vw;

		/* Position/Attributes */
		margin: auto;
		padding: 2vh 2vw;
	}

	/* Container For Welcome Intro */
	#WrapperHeader > #HeaderContainer > #ContainerIntro{
		/* Position/Attributes */
		margin: auto;
		top: 50%;
	}

	/* Container For Welcome Content */
	#WrapperHeader > #HeaderContainer > #ContainerIntro > #ContentWelcome{
		/* Dimensions */
		width: 	30vw;

		/* Position/Attributes */
		margin: auto;
	}

	/* Welcome Image */
	#WrapperHeader > #HeaderContainer > #ContainerImage img{
		/* Dimensions */
		height: 50vh;
		width: 	25vw;

		/* Position/Attributes */
	    display: block;
	    margin: auto;

		/* Aesthetics */
		border-radius: 	10vw;
		border-style: solid;
		border-width: thin;
	}

	/* Wrapper Header Table */
	#WrapperHeader nav{
		/* Dimensions */
		width: 70vw;

		/* Position/Attributes */
        position: absolute;
        bottom: 0;
		margin: 0 15vw;
		border-collapse: collapse;
    	text-align:center;
	}

	#WrapperHeader nav ul{
		/* Position/Attributes */
		list-style: none;
	}

	#WrapperHeader nav ul li{
		/* Position/Attributes */
		display: inline;
	}

	#WrapperHeader nav ul li a{
		/* Dimensions */
		height: 4vh;
		width: 12vw;

		/* Position/Attributes */
		top: -50%;
		display: inline-block;
		padding: 3vh 0;
		text-align: center;

		/* Aesthetics */
    	border-right-style: solid;
		border-left-style: solid;
		border-width: thin;
		background-image: linear-gradient(to bottom, var(--RedLight), var(--RedDark));
	}

	#WrapperHeader nav ul li a:hover{
		color: var(--GrayLight);
	}

/***************
* Wrapper Main *
***************/
#WrapperMain {
	/* Position/Attributes */
	display: block;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

/**********************
* Content Backgrounds *
**********************/
.Content{
	/* Dimensions */
	min-height: 90vh;
	width: 70vw;

	/* Position/Attributes */
	padding-top: 15vh;
	display: block;
}
	/********************
	* Content Text Tags *
	********************/
	.Content h2,
	.Content h3,
	.Content h4,
	.Content p,
	.Content a{
		padding-left: 1vw;
	}

	.Content h1,
	.Content h2,
	.Content h3,
	.Content h4{
		font-weight: bold;
	}

	/* h1 Tag */
	.Content h1{
		/* Dimensions */
		width: 70vw;

		/* Aesthetics */
		text-transform: uppercase;
		text-align: center;

		background-image: linear-gradient(to left, var(--GrayLight), var(--BlueLight), var(--GrayLight));
		background-repeat: 	no-repeat;	
		background-size: 100% 100%;

		border-bottom-style: solid;
		border-width: thin;
	}

	/* h2 Tag */
	.Content h2{
		/* Dimensions */
		width: 63.5vw;

		/* Position/Attributes */
		margin-left: 2.5vw;
		margin-top: 1vh;

		/* Aesthetics */
		background-image: linear-gradient(to right, var(--BlueLight), var(--GrayLight));
		background-repeat: 	no-repeat;	
		background-size: 100% 100%;

		border-left-style: double;
		border-width: thick;
	}

	/* h3, h4 Tag */
	.Content h3,
	.Content h4{
		/* Aesthetics */
		border-left-style: solid;
		border-width: thin;
	}


/*********
* Spacer *
*********/
#WrapperMain > #Spacer{
	/* Dimensions */
	height: 10vh;
	width: 100vw;

	/* Position/Attributes */
	display: inline-block;
	margin-top: 90vh;

	/* Aesthetics */
	background-image: linear-gradient(to bottom, var(--RedDark), var(--BlueLight));
	transition: 0.25s;
}

/******************
* Wrapper Content *
******************/
#WrapperMain > #WrapperContent{
	/* Dimensions */
	width: 70vw;

	/* Position/Attributes */
	display: inline-block;
	padding-left: 15vw;
	padding-right: 15vw;

	/* Aesthetics */
	background-image: linear-gradient(to right, var(--BlueDark), var(--GrayLight) 15%, var(--GrayLight) 85%, var(--BlueDark));
	transition: 0.25s;
}
	/* Seal/Icon Images */
	#WrapperMain img{
		/* Dimensions */
		width: 	10vmin;

		/* Position/Attributes */
	    display: block;
	    margin-left: auto;
	    margin-right: auto;

		/* Aesthetics */
		border-radius: 	2.5vw;
		border-style: solid;
		border-width: thin;
	}
	/* Content General Tables */
	#ContentContact > .Table {
		/* Position/Attributes */
		margin: 0 2.5vw;
	}
	#ContentEducation > .Table,
	#ContentProjects > .Table {

		/* Dimensions */
		width: 60vw;
		
		/* Position/Attributes */
		margin: 0 5vw;
	}

	/* Content Overall Tables*/
	#ContentSkills > #OverallSkill {

		/* Dimensions */
		width: 60vw;

		/* Position/Attributes */
		margin: 0 5vw;
	}

		#ContentSkills > #OverallSkill > .TableBody > .TableRow > .TableHead {

			/* Dimensions */
			width: 10vw;
		}
		#ContentSkills > #OverallSkill > .TableBody > .TableRow > .TableCell {

			/* Dimensions */
			width: 5vw;
		}
		#ContentSkills > #OverallSkill > .TableBody > .TableRow > .TableBar {

			/* Dimensions */
			width: 45vw;
		}

	/* Content Language Tables*/
	#ContentSkills > #LanguageSkill {

		/* Dimensions */
		width: 50vw;

		/* Position/Attributes */
		margin: 0 10vw;
	}

		#ContentSkills > #LanguageSkill > .TableBody > .TableRow > .TableHead {

			/* Dimensions */
			width: 10vw;
		}
		#ContentSkills > #LanguageSkill > .TableBody > .TableRow > .TableCell {

			/* Dimensions */
			width: 5vw;
		}
		#ContentSkills > #LanguageSkill > .TableBody > .TableRow > .TableBar {

			/* Dimensions */
			width: 35vw;
		}

	/* Content Overall Progress*/
	.ProgressBarOverall{
		/* Dimensions */
		width: 40vw;

		/* Position/Attributes */
		border-radius: 5vh;
		padding: .7vh;
	}
		.ProgressBarOverall > div{
			/* Dimensions */
			height: 3vh;
			
			/* Position/Attributes */
			border-radius: 3vh;
			width: 0vw; 
		}


	/* Content Language Progress*/
	.ProgressBarLanguage{
		/* Dimensions */
		width: 30vw;

		/* Position/Attributes */
		border-radius: 5vh;
		padding: .5vh;
	}
		.ProgressBarLanguage > div{
			/* Dimensions */
			height: 2vh;

			/* Position/Attributes */
			width: 0vw; 
			border-radius: 3vh;
		}

/* No Welcome Image Display */
@media (max-width: 299px){
	/* General h1 Tag */
	h1{
		/* Aesthetics */
		font-size: 1.5em;
	}
	/* General h2 Tag */
	h2{
		/* Aesthetics */
		font-size: 1em;
	}
	/* General h3 Tag */
	h3{
		/* Aesthetics */
		font-size: .75em;
	}	
	/* General h4, p, a Tag */
	h4,	p, a{
		/* Aesthetics */
		font-size: .5em; 
	}

	i{}
	.H3{
	    padding: .15em;
	    border-width: 0 .15em .15em 0;
	}

	.P{
	    padding: .10em;
	    border-width: 0 .10em .10em 0;
	}

	/* Wrapper Header Table */
	#WrapperHeader > #HeaderContainer{
		display: flex;
		flex-direction: column;
	} 

	/* Welcome Image */
	#WrapperHeader > #HeaderContainer > #ContainerImage img{
		display: none;
	}
}

/* Mobile/Vertical Display */
/* Minimize Text More */
@media (min-width: 300px) and (max-width: 649px){
	/* General h1 Tag */
	h1{
		/* Aesthetics */
		font-size: 1.5em;
	}
	/* General h2 Tag */
	h2{
		/* Aesthetics */
		font-size: 1em;
	}
	/* General h3 Tag */
	h3{
		/* Aesthetics */
		font-size: .75em;
	}	
	/* General h4, p, a Tag */
	h4,	p, a{
		/* Aesthetics */
		font-size: .5em; 
	}

	i{}
	.H3{
	    padding: .15em;
	    border-width: 0 .15em .15em 0;
	}

	.P{
	    padding: .10em;
	    border-width: 0 .10em .10em 0;
	}

	/* Wrapper Header Table */
	#WrapperHeader > #HeaderContainer{
		display: flex;
		flex-direction: column;
	} 

	/* Welcome Image */
	#WrapperHeader > #HeaderContainer > #ContainerImage img{
		height: 30vh;
	}
}

/* Mobile/Vertical Display */
@media (min-width: 650px) and (max-width: 749px){
	/* General h1 Tag */
	h1{
		/* Aesthetics */
		font-size: 1.75em;
	}
	/* General h2 Tag */
	h2{
		/* Aesthetics */
		font-size: 1.25em;
	}
	/* General h3 Tag */
	h3{
		/* Aesthetics */
		font-size: 1em;
	}	
	/* General h4, p, a Tag */
	h4,	p, a{
		/* Aesthetics */
		font-size: .75em; 
	}

	i{}
	.H3{
	    padding: .15em;
	    border-width: 0 .15em .15em 0;
	}

	.P{
	    padding: .10em;
	    border-width: 0 .10em .10em 0;
	}

	/* Wrapper Header Table */
	#WrapperHeader > #HeaderContainer{
		display: flex;
		flex-direction: column;
	} 

	/* Welcome Image */
	#WrapperHeader > #HeaderContainer > #ContainerImage img{
		height: 30vh;
	}
}

/* General/Horizontal Display */
@media (min-width: 750px){
	/* General h1 Tag */
	h1{
		/* Aesthetics */
		font-size: 2em;
	}
	/* General h2 Tag */
	h2{
		/* Aesthetics */
		font-size: 1.5em;
	}
	/* General h3 Tag */
	h3{
		/* Aesthetics */
		font-size: 1.25em;
	}
	/* General h4, p, a Tag */
	h4,	p, a{
		/* Aesthetics */
		font-size: 1em; 
	}

	i{}
	.H3{
	    padding: .2em;
	    border-width: 0 .2em .2em 0;
	}

	.P{
	    padding: .15em;
	    border-width: 0 .15em .15em 0;
	}

	/* Wrapper Header Table */
	#WrapperHeader > #HeaderContainer{
		display: flex;
		flex-direction: row;
	} 
}