/***************
* Color Scheme *
***************/
:root{
	--BlueLight: #6E96BE;
	--BlueDark: #516E8C;

	--RedLight: #FF3255;
	--RedDark: #7F192A;

	--PurpleLight: #BE32FF;
	--PurpleDark: #5F197F;

	--GrayLight: #E5E5E5;
	--GrayDark: #CCCCCC;
}

/******************
* Universal Reset *
******************/
*   {
	border: 0;
	margin:0;
	padding:0;
}

/***************
* Side Wrapper *
***************/
#SideWrapper {
	padding: 4vh 4vw 4vh 4vw;
	height: 100vh;
	width: 24vw;
	position: fixed;
	overflow-y: hidden;
	overflow-x: hidden; 
	z-index: 1;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	background: var(--BlueLight);
}

	/**************************
	* Side Wrapper Navigation *
	**************************/

	/*****************************************
	* Side Wrapper Navigation Unordered List *
	*****************************************/
	#SideWrapper > #SideNavigation nav > ul{
		list-style: none;
	}

	/************************************
	* Side Wrapper Navigation HyperLink *
	************************************/
	#SideWrapper > #SideNavigation nav a {
		color: black;
		text-decoration: none;
		display: block;
		font-size: 1em;
		font-weight: bold;
		letter-spacing: 0.2em;
		line-height: 3;
		position: relative;
		text-transform: uppercase;
		text-align: right;
	}

	#SideWrapper > #SideNavigation nav a:active,
	#SideWrapper > #SideNavigation nav a:hover{
		color: black;
		background: var(--BlueDark);
	}

	#SideWrapper > #SideNavigation nav a.selected{
		color: white;
		background: var(--BlueDark);
	}

/***************
* Main Wrapper *
***************/
#MainWrapper{
	margin: 0 0 0 32vw;
}

	/*
	* Content Backgrounds *
	*/
	#ContentWelcome, #ContentEducation, #ContentSkills {
		background: var(--GrayDark);
		min-height: 100vh;
		display: block;
		overflow: auto;
	}

	#ContentAboutMe, #ContentProjects, #ContentContactMe {
		background: var(--GrayDark);
		min-height: 100vh;
		display: block;
		overflow: auto;
	}

	/***************
	* Content Tags *
	***************/

	/* h1 Tag */
	#ContentWelcome h1, #ContentAboutMe h1, #ContentEducation h1, #ContentProjects h1, #ContentSkills h1, #ContentContactMe h1 {
		color: black;
		text-decoration: none;
		padding-left: 2.5vw;
		display: inline-block;
		font-size: 2em;
		font-weight: bold;
		letter-spacing: 0.2em;
		line-height: 3;
		width: 	34vw;
		text-transform: uppercase;
		background-image: linear-gradient(to right, var(--BlueLight		), var(--GrayDark	));
		background-position: 0 2em;
		background-repeat: 	no-repeat;	
		background-size: 100% 100%;
	}
	/* h2 Tag */
	#ContentWelcome h2, #ContentAboutMe h2, #ContentEducation h2, #ContentProjects h2, #ContentSkills h2, #ContentContactMe h2 {
		color: black;
		text-decoration: none;
		padding-left: 2.5vw;
		display: block;
		font-size: 1.5em;
		font-weight: bold;
		letter-spacing: 0.1em;
		line-height: 3;
		text-transform: uppercase;
	}

	/******************
	* Content Welcome *
	******************/
	#ContentWelcome {
	}

		/************************
		* Content Welcome Inner *
		************************/

	/*******************
	* Content About Me *
	*******************/
	#ContentAboutMe img{
		width: 	35vw;
		border-radius: 	17.5vw;
	}

	/*********************
	* Content Eductation *
	*********************/
	#ContentEducation{
	}

	/*******************
	* Content Projects *
	*******************/
	#ContentProjects{
	}

	/*****************
	* Content Skills *
	*****************/
	#ContentSkills{
	}

	/*********************
	* Content Contact Me *
	*********************/
	#ContentContactMe{
	}