:root{
    --FontColor:#d2d2d2;
}

#SideMenuContact{
	display: block;
	padding: 6px 16px 6px 16px;
	text-align: center;
	border-style: solid
}
#SideMenuContact > .SideMenuContactInfo{
	color: var(--FontColor);
	padding-left: 1em;
	display: block;
	font-size: .9em;
	letter-spacing: 0.1em;
	line-height: 2;
	outline: 0;
	position: relative;
	text-align: left;
	border-left-style: solid;
	border-color: var(--FontColor);
}